<section id="get-in-touch">
  <div id="get-in-touch-text">
    <div>
      <span>Contacts</span>
      <h1>Get in Touch</h1>
      <h2>If you are not sure yet, shoot us a message!</h2>
    </div>
    <div>
      <span>hello@getthatjob.com</span>
      <span>Jose Galvez 692, 7th Floor. The Board</span>
    </div>
  </div>
  <div id="get-in-touch-form">
    <form>
      <label for="email"></label>
      <input type="email" id=email name="email" placeholder="Your email">
      <label for="name"></label>
      <input type="text" id="name" name="name" placeholder="Name">
      <label for="messages"></label>
      <input type="text" id="messages" name="messages" placeholder="Messages">
      <input type="submit" value="Submit Message">
    </form>
  </div>
</section>