<section class="job_item">
  <div class="job_item_left">
    <img src="/assets/Able_A.svg" alt="able" class="item-logo">
    <div>
      <div>
        <h1>Software Engineer</h1>
        <span class="alert-red">NEW</span>
      </div>
      <div>
        <span class="location">Able - Lima</span>
        <img src="/assets/peru.svg">
      </div>
    </div>
  </div>

  <div class="job-item-right">
    <img src="assets/dollar.png" alt="" width="25em">
    <span class="alert-blue">ReactJS</span>
    <span class="alert-blue">ReactJS</span>
    <span class="time">Today</span>
  </div>
</section>