<section id="job_item">
  <section id="job_item_left">
    <img src="/assets/Able_A.svg" alt="able">
    <div>
      <div>
        <h1>Software Engineer</h1>
        <span>NEW</span>
      </div>
      <div>
        <span>Able - Lima</span>
        <img src="/assets/peru.svg">
      </div>
    </div>
  </section>
  <section id="job_item_right">
    <img  src="/assets/Vector.svg">
    <img src="/assets/Frame.svg">
    <span>Today</span>
  </section>
</section>