<header>
  <nav class="navbar">
    <a href="/">
      <div class="nav-logo">
        <img src="assets/logo.svg" alt="logo">
        <span>GetThatJob</span>
      </div>
    </a>
    <div class="nav-buttons">
      <a href="#">Help</a>
      <a href="#">Companies</a>
      <a href="/jobs">Jobs</a>
      <a href="#">Sign In</a>
      <a href="#">Create an Account</a>
    </div>
  </nav>
</header>