<section>
  <div>
    <h1>Jobs</h1>
    <a>Software Engineer</a>
    <a>Frontend Engineer</a>
    <a>Codeable Graduate</a>
    <a>Backend Engineer</a>
    <a>Meme Master</a>
    <a>University Dropouts</a>
  </div>
  <div>
    <h1>Company</h1>
    <a>Blog</a>
    <a>Carreers</a>
    <a>Privacy</a>
    <a>About</a>
  </div>
  <div>
    <h1>Support</h1>
    <a>Docummentation</a>
    <a>Security</a>
    <a>Mobility Guide</a>
    <a href="/faq">FAQs</a>
  </div>
</section>