
<section id="footer-links-container">
  <div class="footer-column">
    <h1>Jobs</h1>
    <a>Software Engineer</a>
    <a>Frontend Engineer</a>
    <a>Codeable Graduate</a>
    <a>Backend Engineer</a>
    <a>Meme Master</a>
    <a>University Dropouts</a>
  </div>
  <div class="footer-column">
    <h1>Company</h1>
    <a>Blog</a>
    <a>Careers</a>
    <a>Privacy</a>
    <a>About</a>
  </div>
  <div class="footer-column">
    <h1>Support</h1>
    <a>Docummentation</a>
    <a>Security</a>
    <a>Mobility Guide</a>
    <a href="/faq">FAQs</a>
  </div>
  <div class="footer-column">
    <h1>Legal</h1>
    <a>Terms of Service</a>
    <a>Privacy Policy</a>
    <a>Cookie Information</a>
    <a>GDPR Commitment</a>
  </div>
</section>
<div id="separator"></div>
<span>©2020 Get That Job</span>