
<section class="job_item">
  <div class="job_item_left">
    <img src="/assets/Able_A.svg">
    <div>
      <h1>Software Engineer</h1>
      <span>NEW</span>
    </div>
    <div>
      <span>Able - Lima</span>
      <img src="/assets/peru.svg">
    </div>
  </div>
</section>