<header>
  <nav class="navbar">
    <div class="nav-logo">
      <img src="assets/logo.svg">
      <span>GetThatJob</span>
    </div>
    <div class="nav-buttons">
      <a href="#">Help</a>
      <a href="#">Companies</a>
      <a href="#">Jobs</a>
      <a href="#">Sign In</a>
      <a href="#">Create an Account</a>
    </div>
  </nav>
</header>